:root {
  --border-radius: 8px;
  --bg-color: black;
  --color: white;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


body {
  background-color: var(--bg-color);
  color: var(--color);
}

.Main {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.Product-Page {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.Product {
  border: 1px solid gray;
  width: 250px;
  height: 200px;
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  padding: 20px;
  cursor: pointer;
}

.Product-Image {
  object-fit: cover;
  height: 100px;
}

.button__section {
  margin: 50px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.button {
  padding: 10px 20px;
  border-radius: var(--border-radius);
  border: 1px solid gray;
  background-color: var(--bg-color);
  color: var(--color);
  cursor: pointer;
}

.button:hover {
  background-color: var(--color);
  color: var(--bg-color);
}

.button:active {
  transform: scale(0.9);
}

.hideBtn {
  opacity: 0;
  z-index: -10;
}